.canvas {
  position: relative;
  z-index: 1;
  border: 1px solid #eee;
}

.generator-container {
  margin-bottom: 125px;
}

#bottom {
  position:fixed;
  left:0px;
  bottom:0px;
  height:125px;
  width:100%;
  overflow-y: scroll;
  background:#FFF;
  z-index: 100;
}
