.canvas__container {
  height: 100%;
  max-width: 700px;
  position: relative;
  width: 100%;
}
.canvas__canvas {
  position: relative;
  z-index: 1;
  border: 0px;
}
.canvas__mirror {
  height: 400px;
  left: 0;
  position: absolute;
  top: 0;
  width: 800px;
  border: 0px;
}

#bottom {
  background-color: #fff;
  max-height: 125px;
  height: 125px;
  width: 100%;
  overflow-y: scroll;
  position: absolute;
  border-top: 1px solid #eee;
  bottom: 0px;
}
